/* Please Make only Rhino and Zebra Blue */
.top{
    color:blue;
}
/* Please Make only Hufflepuff Gold */
#bestHouse{
    color: gold;
}
/* Please select Duck with the highest level of specificity possible */
html>body>article.areDucksDinosaurs>h2.likesToQuack.fight1Or100{
    color:pink !important;
}

/* Please select Rhino with the highest level of specificity possible */
html>body>section.top>h2#rhino.africa.fourLegs{
    color: green !important;
}