header{
    width: 100%;
    height: 100px;
    background: red;
}
section{
    float: left;
    width: 33.33%;
    height: 500px;
}
.one{
    background: blue;
    
}
.two{
    background: pink;
}
.three{
    background: purple;
}
footer{
    width: 100%;
    height: 100px;
    background: green;
    clear: both;
}